# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    pwd
    ls -lrt
  displayName: 'Run a multi-line script'

- script: |
    echo Terraform init
    terraform init
  displayName: 'Terraform init'
- script: |
    echo Terraform validate
    terraform validate
  displayName: 'Terraform validate'
- task: AzureCLI@2
  inputs:
    azureSubscription: 'Azure Pass - Sponsorship(9604d4da-f16c-4b80-ac1b-34bd71a69ed3)'
    scriptType: 'bash'
    scriptLocation: 'inlineScript'
    inlineScript: |
      az --version
      az account show
    addSpnToEnvironment: true

- script: |
    echo Terraform plan
    terraform plan
  displayName: 'Terraform plan'

- script: |
    echo Terraform apply
    terraform apply -auto-approve
  displayName: 'Terraform apply'
